.FilterDrawer {
  width: 30vw;
  min-width: 400px;
  position: relative;
  padding: 16px;
  @media screen and (max-width: 667px) {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
  }
  &_CloseIcon {
    position: absolute !important;
    right: 0;
    top: 0;
    @media screen and (max-width: 667px) {
      right: 32px;
    }
  }
  &_Chips {
    margin: 6px 0;
    display: flex;
    flex-wrap: wrap;
    & > * {
      margin-right: 4px;
    }
  }
}

.ChipInput {
  border: none;
  outline: none;
  width: 80px;
}
